@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/IBMPlexSansBold.ttf");
  font-family: "IBM Plex Sans";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/InterBold.ttf");
  font-family: "Inter";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/InterRegular.ttf");
  font-family: "Inter";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/IBMPlexSansMedium.ttf");
  font-family: "IBM Plex Sans";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/IBMPlexSansRegular.ttf");
  font-family: "IBM Plex Sans";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/IBMPlexSansSemiBold.ttf");
  font-family: "IBM Plex Sans";
  font-weight: 600;
}
